<h1>couries</h1>

<div class="container">
  <table>
    <thead>
       <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Time</td>
       </tr>
    </thead>
    <tbody>
      <%= render 'courier' %>
    </tbody>
  </table>
</div>

<%= link_to 'Add New Courier', new_courier_path %>