<h1>couries</h1>

<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
       <tr>
         <th scope="col">Name</th>
         <th scope="col">Email</th>
         <th scope="col">Time</th>
         <th scope="col">Show</th>
         <th scope="col">Edit</th>
         <th scope="col">Delete</th>
       </tr>
    </thead>
    <tbody>
      <%= render 'courier' %>
    </tbody>
  </table>
</div>

<hr>

<%= link_to 'Add New Courier', new_courier_path %>